{% extends 'login_page/base.html' %}

{% block title %} Job Apply {% endblock %}

{% block logout %}
<li class="nav-item active">
  <a class="nav-link" href="/">Logout</a>
</li>
{% endblock %}

{% block body %}
<section class="vh-100" style="background-color: #2779e2;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">
        <h1 class="text-white mb-4">Apply for the job</h1>
        <div class="card" style="border-radius: 15px;">
          <div class="card-body">
            <form class="mx-1 mx-md-4" method="POST"> {% csrf_token %}
              <div class="form-outline flex-fill mb-0">
                <input type="hidden" id="form3Example4c" class="form-control" name="job_id" value="{{ job_id }}"/>
              </div>
            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Full name</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="text" class="form-control form-control-lg" name="name" required/>
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Email address</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="email" class="form-control form-control-lg" placeholder="example@example.com" name="email" required/>
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Message to the Employer</h6>
              </div>
              <div class="col-md-9 pe-5">
                <textarea class="form-control" rows="3" placeholder="Message sent to the employer" name="message" required></textarea>
              </div>
            </div>
<!--            <hr class="mx-n3">-->
<!--            <div class="row align-items-center py-3">-->
<!--              <div class="col-md-3 ps-5">-->
<!--                <h6 class="mb-0">Upload CV</h6>-->
<!--              </div>-->
<!--              <div class="col-md-9 pe-5">-->
<!--                <input class="form-control form-control-lg" id="formFileLg" type="file" />-->
<!--                <div class="small text-muted mt-2">Upload your CV/Resume or any other relevant file. Max file-->
<!--                  size 50 MB</div>-->
<!--              </div>-->
<!--            </div>-->
            <hr class="mx-n3">
            <div class="form-outline flex-fill mb-0">
              <input type="hidden" id="form3Example5c" class="form-control" name="applicant_id" value="{{ applicant_id }}"/>
            </div>
            <div class="form-outline flex-fill mb-0">
              <input type="hidden" id="form3Example6c" class="form-control" name="jobs_to_show" value="{{ jobs_to_show }}"/>
            </div>
            <div class="px-5 py-4">
              <button type="submit" class="btn btn-primary btn-lg">Send application</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="content-section">
          <p class='text-muted'>Apply to jobs you like.</p>
            <ul class="list-group">
              <li class="list-group-item list-group-item-light"><a href="../all_job_posts/" style="text-decoration: none;">Latest jobs</a></li>
              <li class="list-group-item list-group-item-light"><a href="../applied/" style="text-decoration: none;">Applied jobs</a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js %}
<script>
    {% if alert %}
    alert("Job applied successfully.")
    document.location = "/all_job_posts"
    {% endif %}
</script>
{% endblock %}